@import '/home/ste/.cache/wal/colors-waybar.css';
* {
  font-family: "MesloLGS Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 2px 4px;
}

tooltip {
  background: @background;
  border-radius: 12px;
  border: 1px solid @border-color;
  color: @foreground;
}

#workspaces {
  padding: 0px 1px;
  border-radius: 15px;
  border-bottom: 2px solid @border-color;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  color: @foreground;
  box-shadow: none;
  text-shadow: none;
  border-radius: 30px;
  padding: 0 4px;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  color: @color1;
  background-color: @background-alt;
  border-radius: 15px;
  padding: 0 8px;
}

#workspaces button.focused {
  color: @color2;
}

#workspaces button.urgent {
  color: @color3;
  border-radius: 10px;
}

#workspaces button:hover {
  color: @color1;
  border-radius: 10px;
  padding: 0 2px;
}

.modules-center {
  background-color: @background-alt;
  border-radius: 10px;
  padding: 4px;
  border-bottom: 2px solid @border-color;
  border-right: 1px solid @color1;
  border-left: 1px solid @color1;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#temperature,
#tray {
  color: @foreground;
  padding: 0 6px;
}

#temperature.critical {
  color: @color3;
}

#battery.critical:not(.charging) {
  color: @color3;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
to {
  color: @background;
}
}

#clock {
  color: @foreground;
  border-radius: 15px;
}

#memory {
  color: @color4;
}

#cpu {
  color: @color5;
}

#battery {
  color: @color6;
}

#disk {
  color: @color7;
}

#temperature {
  color: @color8;
}

#backlight {
  color: @color9;
}
